[2016-05-15 00:57] ConcernedToast opened #1 "It seems that the website http://snapp.citilab.eu/ is not currently working."
When I click on the link http://snapp.citilab.eu/ from snap!'s website, I get the error "This site cannot be reached. snap.citilab.eu refused to connect"
Here is an image of the error that I receive:

<img width="849" alt="connection refused" src="https://cloud.githubusercontent.com/assets/19367342/15271443/ba680dac-1a17-11e6-8d38-25490eb720b7.PNG">

Is there anything that I am doing wrong?

[2016-05-15 12:25] Rydion commented on #1
The server was down, should be back up again.

[2016-05-15 12:25] #1 closed

[2016-06-01 14:19] Yiaq opened #2 "Connection Refused Error"
[Same ERR_CONNECTION_REFUSED error again](https://github.com/Rydion/Snapp/issues/1).  This came after I used the site multiple times in a row, so I might have crashed the server.  Sorry :( .  I was using it so much because [this project ](http://snap.berkeley.edu/snapsource/snap.html#present:Username=Yiaq&ProjectName=1-Player%20Guns%20and%20Lasers)wan't compiling correctly.

[2016-06-01 14:47] Yiaq commented on #2
Come to think of it, would having Node.js without the correct modules (I only did step one of the installation) cause a project to compile incompletely?  That might be the answer to the second part of my issue.

[2016-06-02 19:05] Rydion commented on #2
Hi, don't worry, massive use shouldn't crash the app, although it was down for some reason. I don't have much control over the server but I'll try to get in touch with some people that may get these issues sorted out.

As for the project not compiling, I'm currently working on an update to get Snapp! up to date with Snap!, that should hopefully solve any problem you are facing. If not just let me

[2016-06-02 19:38] Yiaq commented on #2
Ok.  Thanks!

[2016-06-05 19:18] Rydion commented on #2
Hi, just to let you know I just updated Snapp! and now your project works flawlessly! If you find any other projects that don't work as expected just let me know.

[2016-06-05 19:18] #2 closed

[2016-06-21 07:19] bromagosa opened #3 "No sound?"
Hi @Rydion!

Forwarded from Scratch forum user by @brianharvey:

https://scratch.mit.edu/discuss/post/2055142/

[2016-06-28 17:38] Rydion commented on #3
Hi, so this is a tricky one!

If you build any project with Snapp! then extract it and open it with a browser the cat sound plays just fine. The problem seems to be related to Node.js. Do you know by any chance if the sound is an mp3 file?

If not I'll test it out myself, but it would save me some time.

[2016-07-04 07:25] bromagosa commented on #3
That's funny. I actually have the same issue in Snap4Arduino: https://github.com/edutec/Snap4Arduino/issues/30

I've been investigating a bit, and I found out it's a license issue. libffmpeg is proprietary and can't be redistributed without proper license (meaning we can't distribute it either!).

In any case, here's the thread that explains it: https://github.com/nwjs/nw.js/issues/4492#issuecomme

[2016-07-05 23:11] Rydion commented on #3
Hi, thank you for investigating the issue! I had read something about it but hadn't been able to delve deeper into it. I'll leave this issue open hoping that maybe one day we can use the library freely.

[2016-07-18 11:54] MickaelH974 opened #4 "License of exported executables / Linux ARM"
Hi,

Can you tell us more about licenses of exported executables please?

Is there any way to export a project for an ARM linux board like Raspberry pi?

Thanks.

[2016-07-26 20:00] brendaraymondcr opened #5 "Can't access server."
Hi, I would love to use your tool but I haven't been able to access the server yesterday or today.
Receiving message:   This site can’t be reached

snapp.citilab.eu refused to connect.
Search Google for snapp citilab eu
ERR_CONNECTION_REFUSED

[2016-07-26 20:27] Rydion commented on #5
Hi, thank you for letting me know.
I don't have access to the server to fix it as it is provided by a third party (Citilab), but I have contacted them already to see if they can do something about it.

Hopefully it will be up and running again by tomorrow. Once it's online again I'll let you know.

[2016-07-26 20:48] Rydion commented on #4
Hi,
any executable created by Snapp! depends on 3 things, Snap!, [NW.js](http://nwjs.io/) and the user's project.

Snap! is distributed under the terms of GPLv3 and NW.js under several, like the MIT license. Snapp! itself is distributed under GPLv3 as well. I'm not the most knowledgeable person when it comes to licensing, but I think that as long as you bundle all the necessary licenses with the e

[2016-07-27 08:06] bromagosa commented on #5
Hi there, I've contacted the IT person in the Citilab, see if he knows something about this. Hopefully he won't be on holidays yet... :worried:

[2016-07-27 17:52] Rydion commented on #5
Everything's up and running again.

[2016-07-27 17:52] #5 closed

[2016-09-17 18:48] JSJBDEV opened #6 "no "ask question" input and avast and windows don't like it"
Hello all!
Sorry to say, It's me again.

so I recently got my project to a stage where I am wanting some people to test the standalone version although I have a few problems:

the "ask question" block does not seem to do anything, (i have a debug "command line" and it does not execute anything after this block)

_there is no sound, I noticed this in an earlier issue however (I have background musi

[2016-09-17 21:20] JSJBDEV commented on #3
@bromagosa @Rydion I HAVE A SOLUTION (i had this problem as you can see in issue #6 ) so I have solved one of the 3 things by myself.

to make sound work you should convert the sound file to a .ogg as snap! supports it and it is a "free open container format" once i had recompiled my project (and avast decided it was ok) the music started working.
all the best!
~JSJBdev

[2016-09-19 06:54] bromagosa commented on #3
Yep, that's exactly [the conclusion I reached too](https://github.com/edutec/Snap4Arduino/issues/30#issuecomment-231022781).

Glad you found a solution to your issue! :)

[2016-09-20 18:30] Rydion commented on #6
Hi, I'll look into the issue with the ask question block thingy as soon as I can.

As for the antivirus problem I myself haven't had any problems but then again I don't use Avast. I've heard it can be very picky. Usually this can be solved by submitting the exe to Avast for review but because every exe that's generated by Snapp! is a little bit different I don't know if that approach is going to w

[2016-09-20 18:41] JSJBDEV commented on #6
Thank you very much for looking into it :)

[2016-10-09 14:25] Rydion commented on #6
Hi,
I'm sorry that it took so long for me to look into this but I've been busy as hell lately.

So, I just created a minimal project that uses the Ask and Wait block (I have attached it to this message) that does the following:

- Ask and wait
- Show the answer for 2 seconds

The windows executable version seems to work fine, if there is a problem it probably lies elsewhere.
Could you give me a li

[2016-10-09 14:32] JSJBDEV commented on #6
I'm not at my usual computer currently but it is 64bit Windows and the box
for input showed up but when I typed into it nothing happened afterwards
Thanks
~JSJB

On Sunday, 9 October 2016, Adrian <notifications@github.com> wrote:

[2016-10-09 14:36] Rydion commented on #6
Ok, I've also tested the windows 64bit version.

If I had to guess the problem probably lies in the blocks that handle the answer and not the Ask 'n' wait block itself.

[2016-11-01 19:57] #4 closed

[2016-11-21 05:02] aidiken opened #7 "Build your own server"
Build your own server，upload Snapp-master，Why can't execute Build my app! ？

var url = 'http://app.maocode.com/web/index/index.html’

This link is correct ？

[2016-11-21 18:52] Rydion commented on #7
Hi, in the index.js file you need to do the following. At the top of the file locate:

var url = 'http://yourdomain/gen_exec';

And rewrite it. In your case:

var url = 'http://app.maocode.com/gen_exec';

And to access the application just write **http://app.maocode.com** into your browser.

That is supposing that your server is set up in a way that http://app.maocode.com points to the instance of

[2016-11-22 13:15] aidiken commented on #7
@Rydion Thank you
Now jump this, not open the window.
blob:http://mapp.maocode.com/0eaac743-3b0e-46dc-b458-06b64d067e9b
http://mapp.maocode.com/
 index.js
var url = 'http://mapp.maocode.com';

[2016-11-22 22:37] Rydion commented on #7
Hi the URL has to look exactly like:

var url = 'http://mapp.maocode.com/gen_exec';

with the **/gen_exec** part at the end.

[2016-11-23 13:15] aidiken commented on #7
@Rydion
var url = 'http://mapp.maocode.com/gen_exec';
http://mapp.maocode.com/
Still not successful
Cannot read file
Server port has been set to 80
What is the reason？
Thank you

[2016-11-27 14:32] Rydion commented on #7
Hi,
I've taken a look at the page and the setup as far as Snapp*!* is concerned is correct. This seems to be some issue with how the server is set up. Are you running node directly on port 80 of the machine without anything in between like virtual machines, Apache, etc?

[2016-12-25 03:20] aidiken opened #8 "http://snapp.citilab.eu/ Can not link?"
http://snapp.citilab.eu/
Can not link?

[2016-12-25 20:33] Rydion commented on #8
Back up again.

On Sun, Dec 25, 2016 at 4:20 AM aidiken <notifications@github.com> wrote:

[2017-01-10 00:11] Rydion commented on #6
A new version of Snapp! has just been released that should get rid of the problem you described. As for Windows not linking the exe y don't think there's much I can do.

[2017-01-10 00:11] #6 closed

[2017-01-10 00:11] #8 closed

[2017-01-10 00:12] #7 closed

[2017-01-10 00:59] Rydion opened #9 "Not working for IE 11/10/9"
Currently there is some kind of client-side error when running the application in IE. The solutions may be adding some IE specific shims to the project.

[2017-01-10 20:17] Rydion opened #10 "Mac OS executables not working"
The executable flag is missing for nwjs on Mac OS.

[2017-01-10 20:19] Rydion opened #11 "Autodetect of SO is missing in v2"
The client is not autodetecting the Operating system of the client anymore.

[2017-01-10 20:57] Rydion commented on #11
Added feature. The recognition of OS works pretty good, the same cannot be said for detecting 64/32 bit. But it doesn't really seem possible to do it accurately.

[2017-01-10 20:57] #11 closed

[2017-01-10 21:06] Rydion commented on #10
The executable flag for Contents/MacOS/nwjs was missing.
Modified the code to add the flag and project structure to be able to add the file separately from the rest to the zip.

[2017-01-10 21:06] #10 closed

[2017-01-10 21:16] Rydion commented on #9
On IE 11 and under, setting the response type of an XMLHttpRequest before opening it throwas an error.

[2017-01-10 21:16] #9 closed

[2017-01-13 00:40] adrian-hintze opened #12 "Default Snap! code not working on macOS"
There is some issue that causes Snap! to crash when running on Mac OS. The crash occurs during the code handling the retina display.

It's probably related to the outdated version of NW.js.

[2017-01-16 15:28] nickedens opened #13 "SVG graphics not working correctly"
When created with Snap! the game looks like this
![capture2](https://cloud.githubusercontent.com/assets/22965711/21988741/5541e3cc-dbd6-11e6-8539-2dec9740d5ba.PNG)

However after I compile it with Snapp! we lose most (not all) of the graphics. For some reason the wall SVG still shows but everything else is gone.

![capture](https://cloud.githubusercontent.com/assets/22965711/21988775/72195e26-dbd6

[2017-01-16 18:28] Rydion commented on #13
Hi,

I'll look into it. Can I have access to the project you used to reproduce
the bug?

On Mon, Jan 16, 2017, 16:28 nickedens <notifications@github.com> wrote:

[2017-01-16 18:39] nickedens commented on #13
Attached is the zip file. We use a self hosted version of Snap! to teach kids programming in our non profit. We were just going to start letting the kids take their snap programs into executable but I wanted to try one before we let them. Hoping its an easy fix. Thank you so much for looking into it for us!

[Flappy Bird (16).zip](https://github.com/Rydion/Snapp/files/709147/Flappy.Bird.16.zip)

[2017-01-16 19:47] Rydion commented on #13
Hi, the problem should be solved. I've already pushed the changes. Could you try once again to generate the executable and tell me if it's working for you too?

[2017-01-16 20:38] nickedens commented on #13
The graphics all show now! I am getting some really strange gapping behavior though but I'll look into that on my side and if it seems to be a real issue with Snapp then I will post another bug with information.

Thank you so much for your help!

[2017-01-16 20:38] #13 closed

[2017-01-16 21:04] nickedens commented on #13
I did just confirm this is an issue with Snap! not with Snapp!

Just wanted to let you know.

[2017-01-17 08:51] Rydion commented on #13
Hi, thank you for letting me know. I hope you can get it fixed soon, the
project was pretty cool!

On Mon, Jan 16, 2017, 22:04 nickedens <notifications@github.com> wrote:

[2017-02-05 15:43] nathalierun opened #14 "Problem to create a standalone executable"
Hello,

I keep on having problem to create some standalone executables files with snapp (related here https://github.com/jmoenig/Snap--Build-Your-Own-Blocks/issues/1527).

It happened with this file :
https://snap.berkeley.edu/snapsource/snap.html#cloud:Username=nathalierun&ProjectName=ChasseAuTresor.Simulation

I tried both with Firefox and Chrome, on Mac OS 10.11.6 (64 bits).

[2017-02-05 15:49] Rydion commented on #14
Hi, I've just tested it and it seems to work properly. Could you go into a little bit more detail of what the issue is? Isn't the file downloading for you at all? Or is the project not working as expected when executing it?

[2017-02-06 14:47] nathalierun commented on #14
Hi,
The file's downloading is ok. But the project crashes immediatly when executing it (after having dezipped it) : I see the Lambda symbol attached to the application in the lateral desk, but it disappears immediatly.

[2017-02-06 17:46] Rydion commented on #14
Hi,

maybe some of the workarounds for Mac got lost in an update. I'll check it
today.
I'm sorry that Mac OS has so many issues but without owning one myself it's
difficult to debug.

On Mon, Feb 6, 2017, 15:47 Nathalie Carrié <notifications@github.com> wrote:

[2017-02-07 19:35] Rydion commented on #14
Hi,

so I haven't seen anything strange. I have made the fix from the other issue a bit stricter to see if it helps.

As I don't have a Mac could you please try a few things out for me?. If you currently can't just let me know and I will ask the guys over at Snap!.

1 - Try a different project and see if it works.
2 - Try this project once again and see if it works.
3 - Try this project once again

[2017-02-09 09:26] nathalierun commented on #14
Le 07/02/2017 à 23:35, Adrian Hintze a écrit :

Hi,
The first point doesn't work.
The zipped file is downloaded correctly. But, when I launch the
application uncompressed, it crashes immediatly.

[2017-02-09 10:11] nathalierun commented on #14
Le 07/02/2017 à 23:35, Adrian Hintze a écrit :

I tried this also. It reacts with the same crash.

[2017-02-09 16:51] Rydion commented on #14
Hi,

thank you for testing. Has any project worked for you at all since the bug
fix discussed in the Snap! issue? If yes has anything changed on your end
in the meantime? Maybe some OS update or something similar.

On Thu, Feb 9, 2017, 11:11 Nathalie Carrié <notifications@github.com> wrote:

[2017-02-12 22:50] Rydion opened #15 "Add fullscreen support for windows"
See if it's possible at all and what the options to implement it are.

[2017-02-13 01:31] Rydion commented on #14
Hi,

I was able to get my hands on a Mac and figured out the issue. Everything should be working again.

I'll try to make the mac executable generation more robust while I have the mac available and hopefully this will help with avoiding this kind of problems in the future.

Please notify me once you've confirmed it works on your end also and I'll close the issue.

[2017-02-13 13:11] nathalierun commented on #14
Hi,

Nice !!! I confirm that it works ! I tested several projects.

I just notice that :

- The characters are fuzzy

<img width="263" alt="capture d ecran 2017-02-13 a 17 01 38" src="https://cloud.githubusercontent.com/assets/17542520/22884550/f2ce591a-f20e-11e6-824d-3aa7f081127b.png">

<img width="880" alt="capture d ecran 2017-02-13 a 17 00 20" src="https://cloud.githubusercontent.com/assets/17

[2017-02-15 00:57] Rydion commented on #14
Hi,

the fuziness of the text is due to Snap's retina display support currently being disabled in Snapp. This is due to a incompatibility with the software used to generate the executable. I more or less know what to do to fix it but it will be a while 'til I have time to fix it.

As for the shortcut I just tested with macOS Sierra (10.12.2) and everything worked as expected. Was there a problem o

[2017-03-05 15:03] Rydion commented on #15
Added the functionality for windows. Full screen is toggled by pressing the F11 key.

[2017-03-05 15:03] #15 closed

[2017-04-27 14:43] nickedens opened #16 "Looking to host"
Hello! I run a non profit that teaches kids to code (http://hackbg.org). We currently host our own custom version of Snap!

I would really love to integrate a self hosted solution using your program. I was looking around for some sort of Read Me and took a look at the webpage that you do the converting on and I am at a bit of a loss. Is there any way you could do a quick example implementation for

[2017-04-29 20:28] Rydion commented on #16
Hi @nickedens,

after being absent from the project for a while I've finally found time to work on it again. I'll be pushing a new version with several improvements over the next few days. These improvements will also include documentation which in turn will contain a guide on how to self-host Snapp.

I'd like to ask you to wait 'til this is all done. After that, if you were to need any extra help

[2017-04-30 21:11] #14 closed

[2017-05-04 13:07] nickedens commented on #16
@Rydion that sounds great. I do appreciate it! Can't wait to see the new version!

[2017-05-05 00:34] Rydion commented on #16
Hi @nickedens,

just wanted you to know that the new version is up.

Check out the new [wiki](https://github.com/Rydion/Snapp/wiki). There's still some information missing, but it should explain everything you need to self-host your own Snapp version. If there's something that's not entirely clear just let me know and I can give you a hand, and rewrite the documentation to make it more understanda

[2017-05-12 13:03] Rydion commented on #3
@bromagosa

I don't know if this is still relevant to you, but the mp3 patent is about to expire (or it has already, I'm not completely sure). This means the relevant code will probably be included in future versions of NW.js.

[2017-05-12 14:26] bromagosa commented on #3
Yep! I read about this just about a week ago, it was about time! :)

[2017-05-18 18:10] DarinM1967 opened #17 "Executable don't seem to work in Raspbian on a Raspberry Pi 3."
HW: Raspberry Pi 3
OS: Raspbian version: 12.7

Tried compiling Space Invaders.snap, which appeared to compile (Linux 32 bit), but when I try to run Space Invaders.desktop, launcher.sh, or Space Invaders nothing happens.  I have tried running when from UI and from Terminal window.  In the terminal window the cursor appears to be frozen in the upper left corner of the Terminal Window. Tried changing

[2017-05-18 22:23] bromagosa commented on #17
Nope, it will not work in a Raspberry Pi, as it's an ARM-based board, and there is no official nwjs.io build for that processor architecture.

However, there's an unofficial port that people report to be working: https://github.com/jalbam/nwjs_rpi

What do you think @Rydion, would it be very hard to add yet another platform to the mix?

[2017-05-22 00:36] Rydion commented on #17
Thank you @bromagosa for the quick reply.

As for Snapp's compatibility with Raspberry Pi. I'm sorry but I will not include it unless NW.js releases an official compatible pre-built binary.

[2017-05-22 00:36] #17 closed

[2017-06-08 11:13] buttle opened #18 "Fullscreen"
Hi,
We're building a type of old-school arcade machine to play snap! projects and Snapp is just what we're looking for. Thank you so much.

We'd like to run the projects in fullscreen. Is that possible?

Thanks.

[2017-06-08 11:33] buttle opened #19 "multiple process executing"
Hi,
Looking at the processes running on the machine we see this.

`user      4612     1 18 00:13 tty1     00:00:12 /home/user/arcade/projects/snake.snapp/snake
user      4614  4612  0 00:13 tty1     00:00:00 /home/user/arcade/projects/snake.snapp/snake --type=zygote --no-sandbox --enable-crash-reporter
user      4635  4614 99 00:13 tty1     00:01:04 /home/user/arcade/projects/snake.snapp/snake --t

[2017-06-10 17:33] Rydion commented on #18
Hi,
If you are on Windows, it's possible by pressing the F11 key.
On Linux and Mac it's currently not possible... Due to nobody asking for
it! It should be easy to implement if you need it.

On Thu, Jun 8, 2017, 13:13 buttle <notifications@github.com> wrote:

[2017-06-12 19:24] Rydion commented on #19
Hi, under the hood Snapp uses [NW.js](https://nwjs.io/). So when you launch a Snapp project, you really are starting up NW.js which then loads the project.

I'm not familiar with those flags either, they seem to be some defaults that NW.js uses and correspond to chromium.  Maybe [this link](http://peter.sh/experiments/chromium-command-line-switches/) can give you more information.

As for why ther

[2017-09-28 11:29] dklane opened #20 "website appears to be offline"
http://snapp.citilab.eu/ is not responding

[2017-09-28 15:20] Rydion commented on #20
It is working for me now. Could you check again? The server isn't very stable and too high a load sometimes crashes the app temporarily.

[2017-09-28 15:37] dklane commented on #20
It is back online. Thank you!

[2017-09-28 15:37] #20 closed

[2018-06-16 16:51] maxrrs opened #21 "Snapp! uses an old version of Snap!, causing new projects to be incompatible."
Loading a new project will cause an error message, and fail to load as the the version of Snap! on the Berkeley website differs greatly from the one on the Snapp! website. Specifically, Snapp! uses Snap! 4.010.2, while the most recent is 4.1.2.7.

![image](https://user-images.githubusercontent.com/14227407/41500655-8b796a02-715b-11e8-92d5-94ad8e84b188.png)

[2018-06-16 17:57] Rydion commented on #21
Hi @maxrrs,

thank you for bringing this to my attention. I know that Snapp is lagging behind quite a bit, I usually try to avoid updating as my ability to test changes on linux and mac is limited (nonexistent). But if it's causing projects to fail in this way I'll try my best to update the Snap version asap.

Expect an update during next week.

[2018-06-20 19:49] #19 closed

[2018-06-20 19:49] #18 closed

[2018-06-20 19:50] #16 closed

[2018-06-20 21:01] Rydion commented on #21
I've created a new version of Snapp that uses an up to date version of Snap. If you were self hosting please deploy the new version, if not I've also updated the version at [http://snapp.citilab.eu/](http://http://snapp.citilab.eu/).

Please let me know if everything works for you now or if you encounter any other issues.

[2018-06-21 21:41] maxrrs commented on #21
Thanks for your replies. It fills me with joy to know that wonderful content creators such as yourself are still paying attention to older projects such as this. For anyone reading this in future and this has become an issue again, you can try to work around the issue until it gets updated by doing the following (Windows):

1- Download the Snap source from the Berkeley website (https://snap.berkel

[2018-06-22 02:39] #21 closed

[2018-06-22 12:46] Rydion commented on #21
Sadly, although the process is reasonable, that approach will not quite work. Snapp uses a modified version of the Snap source code found [here](https://github.com/Rydion/Snap-4-Snapp). I maintain this version and updating that code is usually the hardest part as there may be breaking changes (that break Snapp) from one Snap version to the next.

[2018-07-10 13:51] PCprof opened #22 "Unknow client error"
Hello. I tried to build a snap project but I only get this error message : unknow client error. Please reload the page and try again. My project is 2507Ko, I choose 1024x728 or 800x600, with ou without code access and for Windows 32 bits.
I'll try again later.
![gib](https://user-images.githubusercontent.com/41064725/42514160-04642870-8459-11e8-8cc7-8f74d68c2f20.jpg)

[2018-07-11 11:17] Rydion commented on #22
Hi @PCprof, I'll have a look into it this week. Would it be possible for you to share the Snap! project you were using?

[2018-07-11 12:29] PCprof commented on #22
Hello, I've done it, it's name "6 Fleur et graines"

[2018-07-11 23:01] Rydion commented on #22
Hi, I've tried opening the project through Snap but it does not seem to be able to find it. Is your username on Snap "pcprof" and the project name exactly "6 Fleur et graines"? If you could just attach the XML here or send it to my email it would probably be easier.

[2018-07-30 20:04] psafa opened #23 "Blank page is displayed"
Nothing is displayed in the generated executable.
Snap! v4.2.1.3
MacOS 10.11.6

![image](https://user-images.githubusercontent.com/5198544/43420585-08971cb8-93f9-11e8-86e1-d537770ac959.png)

![image](https://user-images.githubusercontent.com/5198544/43420507-c42fcd90-93f8-11e8-88cc-b330355f4f7c.png)

[2018-08-05 17:01] ZeRipper commented on #23
Same issue here. Tested with a simple project then with the "copter" sample project. Only a blank window opening. On Mac, 64 bits.

[2018-08-17 17:41] psafa commented on #23
Hi Adrian,
I was away and couldn't write back sooner. I have attached the .xml. It
happens with anything I have tried so far. Thanks for looking into it.

*Parisa Safa*

*Mathematics Department Chair*

*Urban School of San Francisco*

*psafa@urbanschool.org <psafa@urbanschool.org>(415) 593-9568 *

On Wed, Aug 1, 2018 at 9:21 AM, Adrian Hintze <notifications@github.com>
wrote:

[2018-08-18 00:31] Rydion commented on #23
Hi @psafa I finally got hold of a mac and found out what the issue is. It's not related to the project. Expect a fix soon.

[2018-08-21 20:41] Rydion opened #24 "Hosting"
@bromagosa Hola, no sé si encara estàs amb el Citilab, però potser pots indicar-me amb qui he de parlar. Aparentment snapp.citilab.eu apunta a una màquina diferent i ja no hi tinc accés. Ara mateix la versió que hi ha té un bug important a mac i m'interessaria fer deploy de la nova versió.

[2018-08-22 07:59] bromagosa commented on #24
Hola! No estic al Citilab però et passo el contacte. M'escrius a bernat arroba romagosa punt work i en parlem?

Salut!

[2018-08-28 20:04] Rydion commented on #23
Hi, just as a heads up to everyone. As mentioned I know what the issue is. My biggest hurdle right now is that I have lost access to the hosting I was using, it may take a good week before I get it back. I will be implementing the fix in the meantime.

[2018-08-28 20:11] psafa commented on #23
Thank you!

*Parisa Safa*

*Mathematics Department Chair*

*Urban School of San Francisco*

*psafa@urbanschool.org <psafa@urbanschool.org>(415) 593-9568 *

On Tue, Aug 28, 2018 at 1:04 PM, Adrian Hintze <notifications@github.com>
wrote:

[2018-09-13 20:03] #24 closed

[2018-09-13 20:07] Rydion commented on #12
Check again if the original code works now that NW.js has been updated to the latest version.

[2018-09-13 20:10] Rydion commented on #3
NW.js now should be able to play MP3 files by default. Check for next version.

[2018-09-15 19:29] Hearterx commented on #22
Idem! I can't make my app
:c

[2018-09-15 19:35] Rydion commented on #22
Hi, a fix is ready. I'm having some trouble with the hosting, as soon as that is fixed (Monday hopefully) this issue should be solved. thank you for your patience.

[2018-09-18 19:11] Rydion commented on #23
@psafa @ZeRipper I have updated Snapp, can you test your projects and confirm if everything is working correctly for you?

[2018-09-18 19:12] Rydion commented on #22
@Hearterx Could you share your project XML file?

[2018-09-18 19:13] Rydion opened #25 "Update documentation"
Update documentation with new deployment isntructions.

[2018-09-18 19:14] Rydion opened #26 "macOS app name is nwjs"
please fix omg

[2018-09-18 19:15] adrian-hintze opened #27 "macOS keyboard shortcuts are not working"
Check the script, maybe Ctrl needs to be changed to Command?

[2018-09-18 19:16] adrian-hintze opened #28 "Test linux version"
Hasn't been tested for a couple of versions.

[2018-10-17 17:54] adrian-hintze commented on #23
Closing as this should be fixed and I'm getting no feedback.

[2018-10-17 17:54] #23 closed

[2018-10-17 17:55] adrian-hintze commented on #22
Closing as this should be fixed and I'm getting no feedback.

[2018-10-17 17:55] #22 closed

[2018-10-17 18:39] psafa commented on #23
Yes, sorry. I thought I had replied. It's totally fixed.  Thank you.

*Parisa Safa*

*Mathematics Department Chair*

*Urban School of San Francisco*

*psafa@urbanschool.org <psafa@urbanschool.org>(415) 593-9568 *

On Wed, Oct 17, 2018 at 10:54 AM Adrian Hintze <notifications@github.com>
wrote:

[2018-10-17 19:11] adrian-hintze commented on #23
@psafa Thank you for letting me know. Glad this is working now.

[2019-04-05 01:09] callowaysutton opened #29 "Automatic Window Size"
Add automatic Window Size from the Stage width and height properties in the XML file?
This would make it so that the user doesn't have to specify a resolution on the website and also add support for resolutions that aren't currently on the list.

[2019-04-19 18:24] adrian-hintze commented on #29
Hi @callowaysutton,

Yeah, the size setting has been there since the very beginning but never felt too user-friendly or practical. I will investigate how to replace it with something better for the next update (which should be soon, as I haven't updated the Snapp code in a while).

Kind regards,
Adrian

[2019-07-02 21:38] MaestroCaldwell opened #30 "Snapp standalone creator incompatibility with Snap 5"
If you have coded recently with the "go to front" block in Snap 4.2, the Snapp standalone creator has an issue with the newly changed/updated "go to front/back layer" block from Snap 5. The "go to front" block is no longer used in 5.0, so the new blocks are automatically changed.
I get "a custom block definition is missing," and the rest of my code fails to run correctly as a result (in the exe, n

[2019-07-02 22:10] adrian-hintze commented on #30
Hi @MaestroCaldwell,

I try to keep Snapp updated to use the latest version of Snap. I've been wanting to update for a while now, but I need to find time to finalise some things and test.

Do expect an update soon.

[2019-07-05 18:44] MaestroCaldwell commented on #30
Awesome, thanks @adrian-hintze.
I appreciate all the work you do, and my students appreciate you too.

[2019-07-10 21:48] #30 closed

[2019-07-28 14:12] adrian-hintze commented on #3
MP3 now supported by default in NW.js

[2019-07-28 14:12] #3 closed

[2019-08-30 15:09] biran4454 opened #31 "Server problem"
I get a ' 502 bad gateway' error when I try to load snapp.citilab.edu.

[2019-08-31 23:12] adrian-hintze commented on #12
Not happening anymore with the newest NW.js version

[2019-08-31 23:12] #12 closed

[2019-08-31 23:12] adrian-hintze commented on #27
Updated the corresponding code. All standard shortcuts now working.

[2019-08-31 23:12] #27 closed

[2019-09-02 13:54] bromagosa commented on #31
That's because the URL is wrong ;)

It should be .eu, not .edu

(also, server was down for a bit)

[2019-09-02 18:43] biran4454 commented on #31
@bromagosa
OK, but now I get a thing saying

Further information how to configure this can be found in the documentation.'#
Is that what you meant by the server being down?

[2019-09-03 06:16] bromagosa commented on #31
Hmm, are you trying to access http://snapp.citilab.eu/?

It works fine for me:

![image](https://user-images.githubusercontent.com/1016697/64148256-274c4d80-ce23-11e9-8eba-15eae6cb3924.png)

[2019-09-03 08:59] biran4454 commented on #31
OK, I think I was going to

not

[2019-09-03 08:59] #31 closed

[2019-09-19 17:45] adrian-hintze commented on #30
Hi @MaestroCaldwell,

Just a quick heads up. Not sure if you've already seen it, but Snapp has been using the Snap's v5 for a couple of weeks now.

Cheers

[2020-03-09 19:17] adrian-hintze commented on #28
Linux support to be dropped starting with v5.0.0.

[2020-03-09 19:17] #28 closed

[2020-10-31 18:15] TopGamerPro16 opened #39 "Mobile Support and a library"
why doesn't Snapp! have mobile support? (if you could implement this, both iPA and APK would be requested please.) if you would like this too, and it is possible, please add this. it would unlock many new things.
one note: if you somehow can, make a (on its own) useless library, but, that when converted, does what is said on its label.

eg: [send notification []]
i only need this for a snap server

[2020-10-31 18:16] TopGamerPro16 commented on #39
sorry if i get partially off topic...

[2020-11-26 01:06] Jfhseh opened #40 "Please allow wesbsite requst and JS stuff so cloud vars will work"
Nevermind, it worked! OMG!!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2020-11-26 16:27] adrian-hintze commented on #40
Hi @Jfhseh. I can always look into adding functionality/fixing missing features but to be honest I'm not sure what is being asked here. Can you provide an example Snap project and point me to the exact feature within that project that is not working?

[2020-11-26 16:29] adrian-hintze commented on #39
Snapp doesn't have mobile support because the platform that it uses in the background (NW.js) doesn't have one either. Even if it was available I doubt I would have the hardware to test it.

Not sure what a "useless library" is? Mind elaborating?

[2020-11-26 17:13] Jfhseh commented on #40
Clouds vars will work!!!!!!!!!

[2020-11-26 17:52] Jfhseh commented on #39
I think I find the solution to anti-cheat, if you export a project as exe using snapp!, with your cloud vars, it'll work and I don't think people can access the code when it is exported to an exe file.

[2020-11-27 00:51] Jfhseh commented on #39
Rqndom question： how do you earn money from this to keep the server open？

[2020-11-29 16:12] TopGamerPro16 commented on #39
i dont. i just use a home computer, and then randomly came to think snapp supports netsblox :P lol!

________________________________

This email and any files transmitted with it are the property of the Brownsville Independent School District, are confidential, and are intended solely for the use of the individual or entity to whom this email is addressed. If you are not one of the named recipien

[2020-11-29 16:15] TopGamerPro16 commented on #39
Re:to known as "coconut104"...

i dont. and i cant beleive i thought this supported netsblox at the time.
i use a home computer.

and to the first, i honestly thought there was a file that shows the xml data.

[2020-11-29 16:23] TopGamerPro16 commented on #39
and to adrian, ok, but wat i meant was things exes' can do, outside of their window. like as i said, senging notifications/ for windows 8.1-, the little bubble on the bottom. also, maybe the ability to use vbs?

like what i now have,
the "decsoft html compiler". it has some features too, that also allow me to close its window.........................................................................

[2020-12-22 20:48] TopGamerPro16 opened #42 "Netsblox support"
@adrian-hintze,
will you be able to add support for NetsBlox formatted XMLs so that i can communicate with others of the ouutput executable?
ik it is not snap, but it adds a little more function.

[2020-12-22 20:49] TopGamerPro16 commented on #42
go to Netsblox.org if you dont know what it is, and editor.netsblox.org to try out the extra features to be addid if you do.

[2020-12-22 20:55] TopGamerPro16 commented on #40
i want to use netsblox now. i asked if this could be supported.

[2020-12-22 20:57] Jfhseh commented on #40
All you need is a NetsBlox to snap converter and I already made that.

[2020-12-22 20:58] TopGamerPro16 commented on #40
no, i mean WITH the blocks.

[2020-12-22 20:59] TopGamerPro16 commented on #40
also: remember?

[2020-12-22 20:59] Jfhseh commented on #40
You mean the blocks that exist in Netblox but not in Snap?

[2020-12-22 21:00] TopGamerPro16 commented on #40
yes
(we rllyy need a chat. use the netsblox chat.)

[2020-12-31 21:46] ChocolateCircus445 opened #43 "The converter does not give me a file when I request one. The error in the console is "net::ERR_INCOMPLETE_CHUNKED_ENCODING 200 (OK)""

[2021-01-02 19:32] adrian-hintze commented on #43
Hi @ChocolateCircus445,

Could you attach the project you were using and let me know the specific configuration you were using (OS, etc.)?

Regards,
Adrian

[2021-01-02 19:36] adrian-hintze commented on #42
Hi @TopGamerPro16,

Any functionality not strictly related to Snap is not in scope.

I'm hoping to rewrite the Wiki this year with up-to-date info on how to deploy/build the project so a fork to add the needed functionality should be fairly straightforward.

Regards,
Adrian

[2021-01-02 19:36] #42 closed, assigned to nobody

[2021-01-02 19:48] adrian-hintze commented on #40
Hi @Jfhseh,

Is there anything here I should have a look at? Seems like it is working already?

Regards,
Adrian

[2021-01-02 20:00] adrian-hintze commented on #39
@Jfhseh,
No, I work on Snapp during my free time and the public server is ran at a loss. Everyone is free to fork, modify, and run their own version as well (which may be potentially more stable).

@TopGamerPro16
The goal of Snapp is to run your Snap project as an independent application. No additional functionality will be added outside of the sandboxed environment that Snap provides.

[2021-01-02 20:00] #39 closed, assigned to nobody

[2021-01-03 01:43] ChocolateCircus445 commented on #43
[great days new years clock.zip](https://github.com/adrian-hintze/Snapp/files/5761089/great.days.new.years.clock.zip)

Was using both Windows 64-bit and Windows 32-bit. Neither worked.

[2021-02-02 14:34] crowbardoctor opened #44 "Browser dosen't download my file after seemingly being finished"
I submit my project and wait... But Opera, Chrome, Firefox and Edge never downloads anything.
I have tried Windows 32 bits, Windows 64 bits and macOS.
My first thoughts was that the cause was bechause it was too large, but when i removed images to reduce the size of the XML to ~5mb it still didn't download.

Here is my XML file
[RPG.zip](https://github.com/adrian-hintze/Snapp/files/5911750/RPG.zip

[2021-09-07 01:50] billyBob456 opened #52 "I get an error when I run it."
![image](https://user-images.githubusercontent.com/86028017/132272078-cba8cc5b-a7ff-425e-94a5-fea75be2fece.png)
A way to fix it?

[2021-10-13 20:14] Pythone opened #53 "I am asking you to bring back Linux support."
I use Linux, and more people are using it. I think that by adding Linux support back. You will have more OSes to cover. Also, Linux is the OS that most good developers use.I think native Linux support is vital.

[2021-12-14 23:32] ego-lay-atman-bay opened #54 "Update to snap 8.0"
It would be awesome if you could update this to the current version of snap.

[2022-01-05 04:10] Blockguy24 commented on #53
I, too would like to see Linux support re-implemented. A file format such as AppImage can be used to contain the whole application in a single file.

[2022-03-05 12:52] SyCreeper opened #55 "No Snap 7 support."
Please update to support Snap 7, as this is basically useless until it is updated.

[2022-07-06 11:36] KEKATA-STUDIOS opened #58 "Custom icon and more settings"
Hello!
I would enjoy a lot, if there would be more settings to adjust.
For example: custom icon for the app, loading screen settings and more!
Thank you.

[2022-08-21 06:05] ego-lay-atman-bay commented on #54
Now 8.0

[2022-10-04 20:07] bdillougherymvla opened #61 "Does not work with newest update"
I tried using this and it gave me an error that the this does not support the newest version of Snap!